*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
}

.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 3em 1em 4em;
	order: 1;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	margin: 0 7em 0 0;
	text-align: center;
	text-transform: lowercase;
}

.codrops-header__title::before,
.codrops-header__title::after {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
	color: #fff;
}

.codrops-header__title::after {
	content: '\2309';
	vertical-align: super;
}

.codrops-header__title::before {
	content: '\230A';
	vertical-align: sub;
}


/* PORTFOLIO */

#Portfolio {}

.video__section {
	height: 100vh;
    position: relative;
    overflow: hidden;
}

.video__player {}