*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
}

.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 3em 1em 4em;
	order: 1;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	text-align: center;
	text-transform: lowercase;
}

.codrops-header__title::before,
.codrops-header__title::after {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	padding: 0 0.25em;
	color: #fff;
}

.codrops-header__title::after {
	content: '\2309';
	vertical-align: super;
}

.codrops-header__title::before {
	content: '\230A';
	vertical-align: sub;
}


/* PORTFOLIO */

#Portfolio {}

.desc {
	font-size: 1.4rem;
	font-family: 'Libre Franklin', sans-serif;
	line-height: 1.84;
	margin: 0 0 3.6rem;
	color: #ffffff;
}

.video__section {
	height: 100vh;
	position: relative;
	overflow: hidden;
	/* background-size: cover;
	background-position: center; */
	background-color: #3C2540;
}

.video__section:after {
	mix-blend-mode: hard-light;
	background: linear-gradient(to top left, #75d775, #321a5b);
}

img.video__section_bg {
	position: relative;
	z-index: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	object-position: center;
	-webkit-filter: grayscale(100%) contrast(1.2);
	filter: grayscale(100%) contrast(1.2);
	mix-blend-mode: lighten;
}

.video__wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.video__wrap_inner {
	height: 60vh!important;
	width: 70vw!important;
	/* padding: 10px; */
	margin: auto;
}

.video__player,
.video__player iframe {
	width: 100%;
	height: 100%;
}

.number {
	position: relative;
	left: -30px;
	opacity: 1;
	-webkit-transform: translatex(0rem);
	transform: translatex(0rem);
	-webkit-transition: opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear;
	transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.number:before {
	content: '';
	position: absolute;
	left: 50%;
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);
	bottom: 2.5rem;
	display: block;
	height: 4rem;
	border-left: 0.15rem solid #ffffff;
}

.date {
	opacity: 1;
	/* -webkit-transform: translatex(0rem) rotate(-90deg); */
	/* transform: translatex(0rem) rotate(-90deg); */
	opacity: 1;
	position: absolute;
	top: -30px;
	letter-spacing: 2px;
	color: white;
	right: 0;
	-webkit-transition: opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear;
	transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear, -webkit-transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.date:before {
	content: '';
	display: inline-block;
	-webkit-transform: translatey(-0.35rem);
	transform: translatey(-0.35rem);
	width: 4rem;
	margin-right: 1.5rem;
	border-bottom: 0.15rem solid #ffffff;
}

.video__wrap_inner {
	position: relative;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

.title__inner,
.desc,
.button-wrap {
	opacity: 1;
	-webkit-transform: translatey(2.5rem);
	transform: translatey(2.5rem);
	position: relative;
	-webkit-transition: opacity 300ms linear, -webkit-transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 300ms linear, -webkit-transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms linear;
	transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms linear, -webkit-transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title__inner {
	position: relative;
	display: inline-block;
	text-align: center;
}

.title__inner:before {
	background: -webkit-linear-gradient(left, #7b29ff, #304ffe);
	background: linear-gradient(90deg, #7b29ff, #304ffe);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition: -webkit-transform 500ms ease-out;
	transition: -webkit-transform 500ms ease-out;
	transition: transform 500ms ease-out;
	transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	content: '';
	display: block;
	position: absolute;
	width: calc(100% + 6rem);
	top: 2rem;
	left: -2rem;
	height: 2rem;
	z-index: -1;
}

.title__line {
	position: relative;
}

.content__slide {
	position: absolute;
	top: 0;
	left: 45%;
}

#MobilePortfolio {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	padding-top: 50px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.7);
}

.container {
	position: relative;
	padding: 3rem 1rem 0;
	width: 100%;
}

.react-swipeable-view-container {
	height: 300px;
}

.slide {
	display: block;
	margin: 20px;
	padding: 10px;
	border-radius: 3px;
	cursor: -webkit-grab;
	background-color: black;
	overflow: hidden;
	will-change: transform;
	box-shadow: 0.2rem 0.2rem 2.5rem rgba(0, 0, 0, 0.7);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.slide .mobile__video__player iframe {
	width: 100%!important;
	height: 100%!important;
}

.index1 {
	z-index: 1;
}

.index2 {
	z-index: 2;
}

.index3 {
	z-index: 3;
}

.index4 {
	z-index: 4;
}
