/* Home Component */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


 /* LOADING */

 @-webkit-keyframes outerRotate1 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }
  @-moz-keyframes outerRotate1 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }
  @-o-keyframes outerRotate1 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }
  @keyframes outerRotate1 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }
  @-webkit-keyframes outerRotate2 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(-360deg);
	}
  }
  @-moz-keyframes outerRotate2 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(-360deg);
	}
  }
  @-o-keyframes outerRotate2 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(-360deg);
	}
  }
  @keyframes outerRotate2 {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(-360deg);
	}
  }
  @-webkit-keyframes textColour {
	0% {
	  color: #fff;
	}
	100% {
	  color: #3BB2D0;
	}
  }
  @-moz-keyframes textColour {
	0% {
	  color: #fff;
	}
	100% {
	  color: #3BB2D0;
	}
  }
  @-o-keyframes textColour {
	0% {
	  color: #fff;
	}
	100% {
	  color: #3BB2D0;
	}
  }
  @keyframes textColour {
	0% {
	  color: #fff;
	}
	100% {
	  color: #3BB2D0;
	}
  }

  #Loading {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	width: 100vw;
	height: 100vh;
	background: #222;
  }
  
  .e-loadholder {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 240px;
	height: 240px;
	border: 5px solid #1B5F70;
	border-radius: 120px;
	box-sizing: border-box;
  }
  .e-loadholder:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: 0;
  }
  .e-loadholder:after {
	width: 100px;
	height: 200%;
	-webkit-animation: outerRotate2 30s infinite linear;
	-moz-animation: outerRotate2 30s infinite linear;
	-o-animation: outerRotate2 30s infinite linear;
	animation: outerRotate2 30s infinite linear;
  }
  .e-loadholder .m-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 200px;
	height: 200px;
	color: #888;
	text-align: center;
	border: 5px solid #2a93ae;
	border-radius: 100px;
	box-sizing: border-box;
	z-index: 20;
	text-transform: uppercase;
  }
  .e-loadholder .m-loader:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: -1;
  }
  .e-loadholder .m-loader:after {
	width: 100px;
	height: 106%;
	-webkit-animation: outerRotate1 15s infinite linear;
	-moz-animation: outerRotate1 15s infinite linear;
	-o-animation: outerRotate1 15s infinite linear;
	animation: outerRotate1 15s infinite linear;
  }
  .e-loadholder .m-loader .e-text {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	-webkit-animation: textColour 1s alternate linear infinite;
	-moz-animation: textColour 1s alternate linear infinite;
	-o-animation: textColour 1s alternate linear infinite;
	animation: textColour 1s alternate linear infinite;
	display: block;
	width: 140px;
	height: 140px;
	text-align: center;
	border: 5px solid #3bb2d0;
	border-radius: 70px;
	box-sizing: border-box;
	z-index: 20;
  }
  .e-loadholder .m-loader .e-text:before, .e-loadholder .m-loader .e-text:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: -1;
  }
  .e-loadholder .m-loader .e-text:before {
	width: 110%;
	height: 40px;
	-webkit-animation: outerRotate2 3.5s infinite linear;
	-moz-animation: outerRotate2 3.5s infinite linear;
	-o-animation: outerRotate2 3.5s infinite linear;
	animation: outerRotate2 3.5s infinite linear;
  }
  .e-loadholder .m-loader .e-text:after {
	width: 40px;
	height: 110%;
	-webkit-animation: outerRotate1 8s infinite linear;
	-moz-animation: outerRotate1 8s infinite linear;
	-o-animation: outerRotate1 8s infinite linear;
	animation: outerRotate1 8s infinite linear;
  }
  
  #particleCanvas-White {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 100%;
	height: 50%;
	opacity: 0.1;
  }
  
  #particleCanvas-Blue {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 300px;
	height: 300px;
  }
  


*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #909090;
	background: #1c1c1c;
}

h1, h2 {
	font-family: 'Poppins', sans-serif;
}
h2 {
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: #909090;
	outline: none;
}

a:hover,
a:focus, .fa {
	color: #fff;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
	align-items: center;
	color: #fff;
}

.site-links {
	position: relative;
	
}
.social__nav {
	text-align: left;
	position: absolute;
	padding: 0;
	top: 20px;
	left: 0;
	transform: translateX(-110%);
	transition: all .4s;

}
.site-links:hover .social__nav, .site-links:focus .social__nav, .site-links:active .social__nav {
	transform: translateX(110%);
}
.social__nav li {
	display: inline-block;
	margin: 0 20px;
}
.social__nav li a img {
	height: 20px;
	width: 20px;
}


.info {
	color: var(--color-link-hover);
	margin: 0 0 0 1.25em;
}



.codrops-header__tagline,
.deco {
	grid-area: tagline;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;

	position: absolute;
	top: 20px; right: 20px;
}

.codrops-header__tagline {
	padding: 0.65em 0;
}

.deco {
	grid-area: deco;
	align-self: end;
	justify-self: start;
	padding: 0;
	transform: rotate(180deg);
}


.content--fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	z-index: 100;
	align-content: space-between;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 	"header tagline"
							"deco tagline"
							"deco demos";
}

.content--layout {
	grid-template-columns: 100%;
	padding: 3em 0;
}

.content--fixed a {
	pointer-events: auto;
}

.demos {
	grid-area: demos;
	text-align: center;
	display: block;
	position: relative;
}

.demo {
	margin: 0 0.15em;
}

.demo span {
	text-transform: lowercase;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	text-decoration: underline;
	pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
	color: #fff;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

/* Common styles for the words */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



.demo-grid {
	--body-text: #585858;
	--body-text-alt: #cf1d56;
	--body-bg: #010101;
	--link-text: #c7c5c5;
	--link-text-hover: #fff;
	--content-font: "Cormorant Garamond", sans-serif;
}

.content {
	--pieces-height: 90vh;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.page-nav {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	font-family: var(--content-font);
}

.page-nav__item {
	font-size: 7vh;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.page-nav__item--close {
	font-style: uppercase;
	font-size: 1.85em;
	margin: 1em 0 0 0;
	
	position: relative;
	font-family: 'Libre Barcode 39 Text', cursive;
}

.page-nav__item--close:hover,
.page-nav__item--close:focus {
	color: var(--body-text-alt);
	text-decoration: line-through;
}

.content__title {
	font-size: 4vw;
	margin: 0;
	font-style: uppercase;
	cursor: pointer;
	color: #fff!important;
	position: relative;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.page-nav--open ~ .content__title {
	pointer-events: none;
}

.content .pieces {
	height: 90vh;
	width: calc(var(--pieces-height) * calc(888/1000));
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-1 * var(--pieces-height) * calc(888/1000) / 2);
	margin-top: calc(-1 * var(--pieces-height) / 2);
  pointer-events: none;
  background-position: center;
  background-size: cover;
}

/* @media screen and (max-width: 40em) {
	.content {
		--pieces-height: 50vh;
		height: var(--pieces-height);
		margin-bottom: 8em;
	}
	.content__title {
		font-size: 22vw;
	}
	.page-nav__item {
		font-size: 6vh;
	}
} */


/* CANVAS */
#Home canvas {
	position: absolute;
	top: 0px;
	z-index: -1;
}

/* Header Style */
.word--kidnap {
	
	font-size: 4vw;
	
	
}

.word--kidnap span {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}



/* Should use this for loading */
/* .demo-kidnap main::before {
	content: '';
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/noise.gif);
	background-size: 300px;
	opacity: 0.7;
} */

.social__nav {
	display: block;
	width: 42px;
	height: 42px;
	position: relative;
	z-index: 20;
	
	border-radius: 100%;
	left: 2px;
	top: 44px;
	cursor: pointer;
	transition: all .3s;
}
.social__nav:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 32px;
	
	top: 5px;
	left: 20px;
}
.social__nav:after {
	content: "";
	position: absolute;
	width: 32px;
	height: 2px;
	
	left: 5px;
	top: 20px;
}
#social__elements {
	z-index: 3;
	position: relative;
	
	width: 150px;
	height: 150px;
	border-radius: 100%;
	color: white;
	top: -130px;
	left: 20px;

	transition: all .3s;
	transform: scale(0.5) rotate(270deg);
}

.a,
.b,
.c,
.d {
	position: absolute;
	font-size: 25px;
	opacity: 0;
	height: 15px;
	width: 15px;
}

.a {
	top: -20px;
	left: 50px;
}

.b {
	top: 50px;
	left: -40px;
}

.c {
	bottom: 5px;
	left: 50px;
}

.d {
	top: 50px;
	right: -10px;
}

.site-links:hover > #social__elements {
	transform: scale(1);
  transform: rotate(0);
}

.site-links:hover > #social__elements  a {
	opacity: 1;
}

.site-links:hover > .social__nav {
	transform: rotate(135deg);
}




@media screen and (max-width: 768px) {
	.site-links {
		
		padding-left: 0;
	}
	.codrops-header {
		width: auto!important;
		padding: 1em 1em 4em;
	}
	.codrops-header__title {
		font-size: .5em;
	}
	.codrops-header__title::before, .codrops-header__title::after {
		font-size: 20px;
	}
	#social__elements {
		z-index: 3;
		position: relative;
		
		width: 100px;
		height: 100px;
		border-radius: 100%;
		color: white;
		top: -130px;
		left: 20px;
	
		transition: all .3s;
		transform: scale(0.5) rotate(270deg);
	}
	.a img,
	.b img,
	.c img,
	.d img {
	
		height: 12px!important;
		width: 12px!important;
	}
	.a {
		top: 10px;
		left: 25px;
	}
	
	.b {
		top: 50px;
		left: -30px;
	}
	
	.c {
		bottom: -10px;
		left: 25px;
	}
	
	.d {
		top: 50px;
		right: 0;
	}
	.a,
.b,
.c,
.d {
	position: absolute;
	font-size: 25px;
	opacity: 0;
	height: 15px;
	width: 15px;
}

.word {
	margin-top: -200px;
	font-size: 4vh;
}
.page-nav {
	position: relative!important;
	height: auto;
	font-family: var(--content-font);
	transition: all .2s;
}
.page-nav.page-nav--open {
	transform: translateY(-50%)!important;
}
.page-nav__item {
	font-size: 4vh;
	
}
}
